<p id="notice"><%= notice %></p>

<p>
  <strong>Date of transaction:</strong>
  <%= @receipt.date_of_transaction %>
</p>

<p>
  <strong>User:</strong>
  <%= @receipt.user_id %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
